<html>
<head>
    <meta charset="utf-8" />
</head>

<body>
<table>
    <tr>
        <td style="font-size: 23px;">
            Ваша жалоба отправлена на проверку, модераторам <a href="http://жкх.наш-полуостров.рф/">жкх.наш-полуостров.рф</a>!
        </td>
    </tr>
</table>
</body>
</html>